/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Start */

body {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(36, 38, 48);
  background: #eeeeee;
}

p {
  margin-bottom: 15px;
}

.container {
  display: flex;
  min-width: 1028px;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 56px;
  padding: 10px;

  /* padding-bottom: 40px; */
}

.game {
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  width: 1028px;
  height: 580px;
}

.game__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(37, 38, 43);
  background-image: url(./back.svg);
  width: 1026px;
  height: 578px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.close-btn {
  position: absolute;
  align-items: center;
  top: 0;
  left: calc(100% - 40px);
  background-color: rgb(200, 34, 34);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  font-weight: 700;
  height: 30px;
  width: 30px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.close-btn:hover {
  opacity: 0.75;
}

.save-track-btn {
  position: absolute;
  align-items: center;
  top: 92%;
  left: 428px;
  background-color: rgb(200, 34, 34);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 37px;
  width: 162px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.save-btn:hover {
  opacity: 0.75;
}

.menu__inner {
  margin: 100px 50px;
}

.hidden {
  display: none;
}

.settings {
  display: flex;
  justify-content: space-between;
}

.form {
  margin: 30px 20px;
}

label {
  margin: 10px;
  color: white;
}

input {
  display: block;
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: inherit;
  font-size: 16px;
  background-color: #fff;
}

#demo-car {
  position: relative;
  border-radius: 15px;
  margin-top: 100px;
  width: 170px;
  height: 75px;
  background: orange;
}

#demo-roof {
  position: absolute;
  border-radius: 15px;
  width: 90px;
  height: 60px;
  top: 8px;
  left: 15px;
  background: red;
}

.header {
  text-align: center;
  color: white;
  width: 100%;
  padding-bottom: 10px;
}

.table-wrapper {
  background-color: rgba(0, 0, 0, 0.371);
  height: 240px;
  width: 600px;
  overflow: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td {
  border: 1px solid #dddddd;
  padding: 5px;
  color: white;
}
.table tr td:first-child,
.table tr th:first-child {
  border-left: none;
}
.table tr td:last-child,
.table tr th:last-child {
  border-right: none;
}

.table-wrapper::-webkit-scrollbar {
  width: 6px;
}
.table-wrapper::-webkit-scrollbar-track {
  background-color: rgb(153, 14, 14);
}
.table-wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.btn {
  align-items: center;
  background-color: rgb(200, 34, 34);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 700;
  height: 37px;
  width: 162px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  opacity: 0.75;
}

.game__info {
  position: absolute;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 150px;
  background: #eeeeee;
  border-radius: 20px;
  top: 87%;
  left: -50px;
  padding: 15px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 0.5;
  color: white;
  color: #111111;
}

/* .game__framerate {
  position: absolute;
  top: 95%;
  left: 94%;
  line-height: 0.5;
  color: white;
} */

.guide {
  display: inline-block;
  text-align: center;
}

.key {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  display: inline-block;
  text-align: center;
  background-color: white;
  border: 2px solid red;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;
  appearance: none;
  margin: 10px;
}
